body {
  font-family: Arial, Helvetica, sans-serif;
}

pre {
  background: none;
  border: none;
  padding: 0;
}

pre code {
  font-family: Arial, Helvetica, sans-serif;
  background: none;
  padding: 0;
  border: none;
}

pre code {
  font-size: 100%;
  color: inherit;
}

.r-inline {
  background-color: transparent;
  padding: 0;
  border: none;
  font-size: 100%;
}

table th {
  text-align: center;
}

table tr:nth-child(odd) {
  background-color: #f9f9f9;
}

table tr:nth-child(even) {
  background-color: #ffffff;
}

table th {
  background-color: #f2f2f2;
  text-align: center;
  padding: 8px;
}

table td {
  text-align: center;
  padding: 8px;
  border: 1px solid #dddddd;
}

.top-right-image {
  position: absolute;
  top: 10px;
  right: 50px;
  width: 200px;
}
